* {
    box-sizing: border-box; 
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#color-1 {
    background-color: #ead637;
    text-align: center;
    font-family:impact;
    padding: 25px;
}

#color-2 {
    background-color: #cba328;
    text-align: center;
    font-family:Impact;
    padding: 25px
}
#color-3 {
    background-color: #a2d3c2;
    text-align: center;
    font-family: Impact;
    padding: 25px;
}

#mint-1 {
    background-color: #b5fed9;
    text-align: center;
    font-family: impact;
    padding: 24px;
}

#mint-2 {
    background-color: #98cbb4;
    text-align: center;
    font-family: impact;
    padding: 24px;  
}

#mint-3 {
    background-color: #7ba098;
    text-align: center;
    font-family: impact;
    padding: 24px;
}

#coffee-1 {
    background-color: #725752;
    text-align: center;
    font-family: impact;
    padding: 24px;
}

#coffee-2 {
    background-color: #878e88;
    text-align: center;
    font-family: impact;
    padding: 24px;
}

#coffee-3 {
    background-color: #fef6c9;
    text-align: center;
    font-family: impact;
    padding: 24px;
}